<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Let's Get Started!</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
  body{
    background-color: #FFC966;
  }
  h1,h3{
    color: #ff7d66;
  }
  kbd{
    font-size:18px;
  }
  </style>
</head>
<body>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12 text-center my-3 mb-5">
        <h1>Welcome to Tripp!</h1>
        <code>Let's make memories!</code>
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <kbd class="col-md-12 text-center">REGISTER</kbd>
          <form class="my-3" action="../server/server.php" method="post">
            <div class="form-group">
              <label for="Name">Name</label>
              <input name="Name" type="text" class="form-control" id="Name" placeholder="Enter Name" required>
            </div>
            <div class="form-group">
              <label for="rUsername">Username</label>
              <input name="Username" type="text" class="form-control" id="rUsername" placeholder="Enter Username"  required>
            </div>
            <div class="form-group">
              <label for="rEmail">Email address</label>
              <input name="Email" type="email" class="form-control" id="rEmail" aria-describedby="emailHelp" placeholder="Enter email"  required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="Phone">Phone</label>
              <input name="Phone" type="text" class="form-control" id="Phone" placeholder="Enter Phone"  required>
            </div>
            <div class="form-group">
              <label for="rPass">Password</label>
              <input name="Password" type="password" class="form-control" id="rPass" placeholder="Password"  required>
            </div>
            <button name="register" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-12">
          <kbd class="col-md-12 text-center">LOGIN</kbd>
          <form class="my-3" action="../server/server.php" method="post">
            <div class="form-group">
              <label for="rUsername">Username</label>
              <input name="Username" type="text" class="form-control" id="rUsername" placeholder="Enter Username"  required>
            </div>
            <div class="form-group">
              <label for="rPass">Password</label>
              <input name="Password" type="password" class="form-control" id="rPass" placeholder="Password"  required>
            </div>
            <button name="login" type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
